<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h6>jinja operational tags</h6>
        {% if a > b %}
            {% if a > c %}
                <h2>a is greater</h2>
            {% else %}
                <h2>c is greater</h2>
            {% endif %}
        {% else %}
            {% if b > c %}
                <h2>b is greater</h2>
            {% else %}
                <h2>c is greater</h2>
            {% endif %}
        {% endif %}

        {% for i in name %}
            <h2>{{i}}</h2>
        {% endfor %}

    </center>
</body>
</html>